@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    };

body{
    @include flexCenter();
    background-color:black;
    background-image: $backgroundImg;
    background-repeat: no-repeat;
    background-size:100% 100%;
}