section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.box{
    width:200px;
    height:300px; 
    align-items: flex-end;
}
li{
   
    list-style-type: none;
    
}