section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-start; 
 
}

.box{
    width:200px;
    height:300px; 
    
}
li{
   
    list-style-type: none;
    
}