$primaryColor: white;
$backgroundImg:url("/img/sky.png") ;

@import "//styles/searchBox.scss";
@import "./backgroundimg";

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    };


