@media only screen and (min-width: 0px) and (max-width: 460px) {
  section{
    display:block;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
    margin-left:12.5%;
  }
  .section__box{

    margin-top:5%;
    height:25%;
    width:80%;
    min-height:15%;
    min-width:10%;
  }
}